<div class="container pt-4">
  <h2 class="diplay-6 text-center mb-4">
    Your learning list
  </h2>
  <% if @courses.empty? %>
    <h5 class="text-center my-5">You have not joined any course yet, choose one <%= link_to "here", courses_path %></h5>
  <% end %>
  <div class="container-fluid">
    <% @courses.each do |c| %>
      <%= render partial: "learning/horizontal_card", locals: { course: c } %>
    <% end %>
  </div>
</div>
