<div class="container pt-4">
  <h2 class="diplay-6 text-center mb-4">
    All kNOW courses
    <small class="text-muted d-block">Find the best one for yourself</small>
  </h2>
  <% if @courses.empty? %>
    <h5 class="text-center my-5">No courses yet... Feel free to add one!</h5>
  <% end %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4 mb-4">
    <div class="col">
      <% @courses.each do |c| %>
        <%= render partial: "courses/card", locals: { course: c } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="container d-flex justify-content-start">
      <%= link_to "Add a course", new_course_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
