/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.brand-logo-image {
  width: 2rem;
  height: 100%;
}

.brand-logo-spacing {
  width: 0.4rem;
}

.navbar-toggler {
  margin-left: 1rem;
}

.card-photo {
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.clickable-card {
  text-decoration: none;
  color: inherit
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-warning;
}

.dropdown-menu {
  position: absolute !important;
}

.horizontal-scroll-item {
  margin: .3rem .5rem;
  padding: 0;
  border: 0;
}

.horizontal-scroll-item>a {
  border-radius: 1rem;
}

.select2-selection {
  border: 1px solid #ced4da !important;
  color: #212529 !important;
}

.selection > span {
  padding: 1rem 0.75rem !important;
}

.select2-search__field {
  margin-left: 4px !important;
  line-height: 0.9;
}

.category-divider {
  border-right: 1px solid #212529;
  opacity: .2;
  height: 40px;
  margin: auto 0;
}

.navbar-divider {
  border-right: 1px solid #212529;
  opacity: .2;
  height: 25px;
  margin: auto 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar  {
  display: none;  /* Safari and Chrome */
}
